       <div id="news" class="content-section scrollable-section d-none">
    <div class="card mb-3">
        <div class="card-header">
            <h2>Manage News <i class="fas fa-newspaper"></i></h2>
        </div>
        <div class="card-body">
            <form id="news-form" method="post" action="{{ url_for('admin.create_news', section='news') }}">
                <div class="mb-3">
                    <label for="news_title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="news_title" name="news_title" required>
                </div>
                <div class="mb-3">
                    <label for="news_content" class="form-label">Content</label>
                    <textarea class="form-control" id="news_content" name="news_content" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Add News</button>
            </form>
        
        </div>
    </div>
       </div>
       
