<div id="media" class="content-section scrollable-section d-none">
    <div class="card mb-3">
        <div class="card-header">
            <h2>Manage Media <i class="fas fa-images"></i></h2>
        </div>
        <div class="card-body">
            <form method="post" action="{{ url_for('admin.create_media', section='media') }}" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" name="description" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="file" class="form-label">Upload File</label>
                    <input type="file" class="form-control" id="file" name="file" required>
                </div>
                <button type="submit" class="btn btn-primary">Add Media</button>
            </form>
        </div>
    </div>
</div>
