{% extends 'base.html' %}

{% block content %}
    <h1>About Us</h1>
    <p>Welcome to our association! Here you can learn more about who we are, our mission and our team.</p>
    <p>Oisis association for sustainable development, which was established on November 17, 2013 in Hadd Al-Sawalem under the name “Al-Alia Association 2”, is an association passionate about environmental <br>awareness and education on road safety and citizenship. Since its establishment, the association has worked to enhance awareness and sensitization to consolidate the values ​​of citizenship education socially, environmentally,<br> religiously and health-wise in educational institutions in the cities of Al-Salem, Nador and Zagora, <br>with the participation of civil activities and guardian bodies:</p>
    <p><strong>***National Road Safety Agency, Rabat</strong></p>
    <p><strong>***Berrechid Prefecture</strong></p>
    <p>*The Regional Directorate of the Ministry of National Education for Primary Education and Sports for the Berrechid Province</p>
    <p>*Administrative and educational frameworks for educational institutions in the Sawalim territorial area</p>
    <p>*The urban community of Al-Salem city</p>
    <p>*The second annex to the city of Al-Salem</p>
    <p><strong>***Nador Prefecture</strong></p>
    <p>*The Regional Directorate of the Ministry of National Education for Primary Education and Sports for the Nador Region</p>
    <p>*Royal Gendarmerie Center Nador</p>
    <p>*Administrative and educational frameworks for educational institutions in Nador</p>
    <p>*Nador Urban Community</p>
    <p>*Nador Governorate</p>
    <p><strong>***Zagora Prefecture</strong></p>
    <p>*Royal Gendarmerie Center Zagora</p>
    <p>*Regional Directorate of the Ministry of National Education for Primary Education and Sports for the Zagora Province</p>
    <p>*Rural community of Ternata/Taconite in Zagora </p>
    <p>*Ternata/Taconite Command in Zagora</p>
    <p>Regional Directorate of the Ministry of Youth and Communication, Zagora</p>
    <p>In the sports field, the Oasis Association for Sustainable Development organized successively for the first time in the city of Al-Salem, Berrechid Province, football courses with the participation of 15 teams <br>from different areas in the territorial fields of Al-Salem, Al-Salem, Tarifa, and the Sahel, Ould Harez, during the years 2015 and 2016.</p>
    <p>In addition, the association organized scientific, political, social and religious seminars, moderated by a group of professors who left their mark on Moroccan and Arab society. Among them are:</p>
    <p> y. The great journalist <strong> Abdel Salam Al-Azouzi</strong>, head of the Future Academy for Media and Communication in Rabat</p>
    <p><strong>Dr.. Al-Hami’i </strong>researcher Abd al-Ilah al-Shahed</p>
    <p>y.<strong> Moulay Ahmed Kannoun</strong>, engineer, expert in dynastic lands and head of the National Authority for Dynastic Communities in Rabat</p>
    <p>y.<strong> Khadija Barakat</strong>, member of the International Federation of African Women </p>
    <p>In order to keep pace with developments locally, regionally, Arably and internationally.</p>
    <p>In 2017, by unanimous consent of the members, the name of the association was changed to “Oisis association for sustainable developmentt.” Despite the name change, the association continued to diversify<br> its activities and keep pace with school life effectively. The association’s interests also expanded to include royal publishing and making dynastic lands a lever for improving the conditions of rights holders and promoting investment in them,<br> in accordance with new laws, and to strengthening the autonomy initiative of the Kingdom of Morocco over its southern provinces.</p>
    <p>Al Waha Association for Sustainable Development did not stop at the borders of environmental and educational activities, but rather emerged as a supportive force for needy families, especially during difficult<br> times. In 2020 and 2021, in the face of the challenges of the Corona pandemic, the association made exceptional efforts in the field of social solidarity and health awareness.</p>
    <p>On the one hand, the association focused on supporting families in need by distributing food aid and basic materials to ensure the continuity of decent lives for these families in light of the difficult economic<br> conditions imposed by the pandemic.</p>
    <p>On the other hand, the association cooperated with local civil activities to implement comprehensive awareness campaigns about preventing the Corona virus and the importance of adhering to health procedures, <br>such as wearing masks, social distancing, and sterilization. These campaigns worked to spread the necessary health knowledge and provide psychological and moral support to the community, which contributed to enhancing community awareness<br> and improving the population’s ability to confront the health crisis.</p>
    <p>Thanks to these integrated efforts, Al Waha Association for Sustainable Development has proven its ability to adapt to crises and interact effectively with community needs, making it a role model for social <br>solidarity and development work.</p>
    <p>Oisis association for sustainable development once again demonstrated its spirit of solidarity and humanity alongside civil activities in the Al-Hasani neighborhood, through its support for the victims <br>of the Al-Haouz earthquake. In the face of this natural disaster.</p>
    <p>The association collected and distributed urgent aid, including food, blankets, medicines, and basic supplies, to ensure the necessary needs of the affected families are provided.</p>
    <p>The association was distinguished by the integration and solidarity of the efforts of its members and their dedication to achieving its goals. Professor<strong> Laila Habch </strong>played a pivotal role in <br>supporting the association, as she provided invaluable financial and moral support, which made the Oisis association for sustainable development a successful model in collective work.</p>
{% endblock %}
