{% extends 'base.html' %}

{% block content %}
<!-- <div class="jumbotron jumbotron-fluid bg-primary text-white mb-0 border-top border-white"
    style="background-image: url({{url_for('static', filename='img/banner.jpg')}});">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="display-4 mb-4">Bienvenue, {{ current_user.username }}</h1>
                <p class="lead">Oisis association for sustainable development</p>
                <p>Vous trouverez ici les événements à venir, les actualités et d'autres informations importantes.</p>
            </div>
        </div>
    </div>
</div> -->
<style>
  .demo-wrap {
  position: relative;
      height: 350px;
}

.demo-wrap:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-image: url('{{url_for('static', filename='img/banner.jpg')}}');
  background-repeat: no-repeat;  
    background-position: center center;
    background-size: cover;
}

.demo-content {
  position: relative;
}
</style>
<div class="demo-wrap"> 
    <div class="demo-content ">
      
                    <h1 class="display-4 mt-4 mb-4">Bienvenue, {{ current_user.username }}</h1>
                    <p class="lead">Oisis association for sustainable development</p>
                    <p>Vous trouverez ici les événements à venir, les actualités et d'autres informations importantes.
                    </p> 
    </div>
</div>
<div class="container-fluid mt-3 bg-light rounded">
    <div class="row">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Upcoming Events
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="container ">
                            <div class="row align-items-center">
                                <table class="table table-hover ">
                                    <thead>
                                        <tr>
                                            <th scope="col">Event Name</th>
                                            <th scope="col">Start Date</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for event in events %}
                                        <tr>
                                            <td>{{ event.name }}</td>
                                            <td>{{ event.date }}</td>
                                            <td>
                                                {% if current_user.is_authenticated %}
                                                <form method="post"
                                                    action="{{ url_for('main.attend_event', event_id=event.id) }}"
                                                    class="d-inline">
                                                    <button type="submit" class="btn btn-primary btn-sm">Mark
                                                        attendance</button>
                                                </form>
                                                {% else %}
                                                <a href="{{ url_for('auth.login') }}" class="btn btn-primary btn-sm"
                                                    role="button" data-bs-toggle="modal"
                                                    data-bs-target="#attendanceModal{{ event.id }}">
                                                    Login to Mark your attendance
                                                </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Latest News
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="container mb-5">
                            <h2 class="mb-4">List of news</h2>
                            <div class="row overflow-y-scroll" style="height:350px !important;">
                                {% for item in news %}
                                <div class="col-md-4 mb-4">
                                    <div class="card text-center">
                                        <img src="{{ item.image_url if item.image_url else url_for('static', filename='img/news.png') }}"
                                            class="card-img-top mt-2 m-auto" style="width:80px !important;"
                                            alt="{{ item.title }}">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ item.title }}</h5>
                                            <p class="card-text">
                                                <span class="short-text">{{ item.content[:50] }}...</span>
                                                <span class="full-text d-none">{{ item.content }}</span>
                                                <button class="btn btn-link p-0 read-more">Read more</button>
                                                <button class="btn btn-link p-0 read-less d-none">Read less</button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="container">
                            <h2 class="mb-4">Autres informations</h2>
                            <div class="alert alert-info" role="alert">
                                <h4 class="alert-heading">A propos de nous</h4>
                                <p>Informations sur notre association.</p>
                                <hr>
                                <p class="mb-0">Pour en savoir plus, contactez-nous à info@association.com</p>
                            </div>
                        </div>
                    </div>
                </div>
          
           <div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsePresidentMessage" aria-expanded="false" aria-controls="collapsePresidentMessage">
            Message from the President
        </button>
    </h2>
    <div id="collapsePresidentMessage" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <img src="path_to_your_image.jpg" class="img-fluid" alt="President Image">
                    </div>
                    <div class="col-md-9">
                        <div class="alert alert-info" role="alert">
                            <h4 class="alert-heading">Message from the President</h4>
                            <p>Dear Members and Friends,</p>
                            <p>I am filled with gratitude and pride for the dedication and passion each of you brings to our mission. Our journey towards sustainable development is driven by a vision of a better, more equitable world for all.</p>
                            <p>This year, we have expanded our outreach programs, increased collaborations with local communities, and implemented innovative projects addressing environmental and socio-economic issues. Our educational initiatives have empowered individuals to adopt sustainable practices, and our environmental projects have promoted biodiversity, renewable energy, and waste reduction.</p>
                            <p>Social equity remains at the core of our mission. We have enhanced the well-being of vulnerable populations through targeted programs in education, healthcare, and economic development.</p>
                            <p>As we look ahead, I am excited about the possibilities that lie before us. With your continued support and commitment, we can achieve our goals of building resilient communities, protecting our natural resources, and creating a legacy of sustainability.</p>
                            <p>Thank you for your unwavering dedication and support. Let us continue to work together to create a world where sustainable development is not just an aspiration but a reality.</p>
                            <p>Warm regards,</p>
                            <p>HABCH LEILA<br>President, Sustainable Development Association</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
    </div>
</div>










<script>
    document.addEventListener('DOMContentLoaded', function () {
        var readMoreButtons = document.querySelectorAll('.read-more');
        var readLessButtons = document.querySelectorAll('.read-less');

        readMoreButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                var cardBody = button.closest('.card-body');
                cardBody.querySelector('.short-text').classList.add('d-none');
                cardBody.querySelector('.full-text').classList.remove('d-none');
                button.classList.add('d-none');
                cardBody.querySelector('.read-less').classList.remove('d-none');
            });
        });

        readLessButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                var cardBody = button.closest('.card-body');
                cardBody.querySelector('.short-text').classList.remove('d-none');
                cardBody.querySelector('.full-text').classList.add('d-none');
                button.classList.add('d-none');
                cardBody.querySelector('.read-more').classList.remove('d-none');
            });
        });

        var userAuthenticated = {{ 'true' if user_authenticated else 'false' }};

    document.querySelectorAll('form[id^="attendanceForm"]').forEach(function (form) {
        form.addEventListener('submit', function (event) {
            if (!userAuthenticated) {
                event.preventDefault();
                var loginModal = new bootstrap.Modal(document.getElementById('loginModal'));
                loginModal.show();
            }
        });
    });
    });
</script>

{% endblock %}
