{% extends 'base.html' %}

{% block content %}
<div class="card mt-5 scrollable-section">
    <div class="card-header">
        <h2>User Profile</h2>
    </div>
    <div class="card-body">
        <p><strong>Name:</strong> {{ user.name }}</p>
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Address:</strong> {{ user.address }}</p>
        <p><strong>Postal Address:</strong> {{ user.postal_address }}</p>
        <p><strong>Date of Birth:</strong> {{ user.date_of_birth }}</p>
        <p><strong>Marital Status:</strong> {{ user.marital_status }}</p>
    </div>
</div>

{% endblock %}
