<!DOCTYPE html>
 <html lang="en">
 <head> <meta charset="UTF-8"> <meta name="viewport" content="width=device-width, initial-scale=1.0"> <title>Tableau avec 6 colonnes</title> </head>
 <body>
 <table border="1"> 
<tr><td style="text-align: center;">2014</td></tr>
<tr> <th>Activity name</th> <th>the date</th> <th>the site</th> <th>Objectives</th> <th>Beneficiaries kind</th> <th>Beneficiaries number</th><th>The results obtained</th> </tr>
 <tr> <td>Donnée 1</td> <td>Donnée 2</td> <td>Donnée 3</td> <td>Donnée 4</td> <td>Donnée 5</td> <td>Donnée 5</td><td>Donnée 5</td> <tr> <td>Donnée 6</td> <td>Donnée 7</td><td>Donnée 7</td><td>Donnée 7</td><td>Donnée 7</td> <td>Donnée 7</td><td>Donnée 7</td></tr> 
 <tr> <td>Donnée 1</td> <td>Donnée 2</td> <td>Donnée 3</td> <td>Donnée 4</td> <td>Donnée 5</td> <td>Donnée 5</td><td>Donnée 5</td> <tr> <td>Donnée 6</td> <td>Donnée 7</td><td>Donnée 7</td><td>Donnée 7</td><td>Donnée 7</td> <td>Donnée 7</td><td>Donnée 7</td></tr>
 <tr> <td>Donnée 1</td> <td>Donnée 2</td> <td>Donnée 3</td> <td>Donnée 4</td> <td>Donnée 5</td> <td>Donnée 5</td><td>Donnée 5</td> <tr> <td>Donnée 6</td> <td>Donnée 7</td><td>Donnée 7</td><td>Donnée 7</td><td>Donnée 7</td> <td>Donnée 7</td><td>Donnée 7</td></tr>  
 <tr> <td>Donnée 1</td> <td>Donnée 2</td> <td>Donnée 3</td> <td>Donnée 4</td> <td>Donnée 5</td> <td>Donnée 5</td><td>Donnée 5</td> <tr> <td>Donnée 6</td> <td>Donnée 7</td><td>Donnée 7</td><td>Donnée 7</td><td>Donnée 7</td> <td>Donnée 7</td><td>Donnée 7</td></tr>  
 </table> </body> </html>



